version: '3'
services:
  ws-server:
    build:
      context: .
      dockerfile: apps/ws-server/Dockerfile
    ports:
      - "8080:8080"
    restart: always

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "3000:3000"
    restart: always
